
    .nav{
        width: 100%;
        height: 60px;
        background: white;
        p{
            font-size: 15px;
            color: rgb(49, 41, 41);
            padding-top: 8px;
            margin-left: 15px;
             }
         }
           .mainleftclassfiy{
            height: 60px;
            width: 100%;
            font-size: 17px;
            border-bottom: solid 1px #ccc8;
           
            span{
            display: inline-block;  
            margin-left: 30px;
            margin-top: 15px;
            }
             }
                .tag{
                   text-align: center;
                   margin-top: 30px;
                   color: rgb(33, 25, 25);
                   font-size: 15px;
                   margin-left: 5px;
                }
                .tag:hover{
                    background: blue;
                    color: white;
                }
            .top {
                width: 100%;
                height: 55px;
                background-color: #fff;
                border-bottom: solid 1px #ccc8;
                line-height: 55px;
                a {
                  color: #333333;
                }
                a {
                  margin: 7px;
                }
                span {
                  margin: 7px;
                }
              }
              .box {
                width: 100%;
                height: 100%;
                background-color: red;
              }
              .tab {
                color: #00000073;
                padding-left: 30px;
              }
              .Tage {
                display: flex;
                .tags_update{
                  display: flex;   
                  justify-content: space-between; 
                  .left{
                    margin-left: 30px;
                  }
                  .right{
                    margin-right: 30px;
                    
                  }
                }
              }
              .addtag {
                width: 620px;
                height: 270px;
                background-color: #fff;
                margin-top: 20px;
                margin-left: 20px;
                input {
                  width: 90%;
                  height: 30px;
                  margin-left: 30px;
                  margin-top: 30px;
                  border: none;
                  border:solid 1px #ccc;
                }
                input:hover{
                  border: solid 1px #1890FF;
                }
                Button {
                  margin-left: 30px;
                  margin-top: 30px;
                }
              }
              .alltag {
                width: 980px;
                height: 140px;
                margin-top: 20px;
                margin-left: 20px;
                background-color: #fff;
              }
              .ts {
                margin-left: 20px;
                margin-top: 25px;
              }
              .lab {
                margin-left: 5px;
              }
              .tablediv{
                margin-left: 33px;
              }
              