.allarticleWarp{
    width: 100%;
    height: 100%;
  
    .nav{
        width: 100%;
        height: 60px;
        background: white;
        p{
            font-size: 15px;
            color: rgb(49, 41, 41);
            padding-top: 8px;
            margin-left: 15px;
        }
    }
    .mainn{
        width: 95%;
        height: auto;
        .updata{
            width: 100%;
            height: 150px;
            background: white;
            margin-left: 33px;
            margin-top: 20px;
            position: relative;
            .Dragger{
                background: white;
                .ant{
                    color: #000;
                }
            }
        }
    }
    .main{
        width: 95%;
        height: auto;
        
        .search{
            width: 100%;
            height: 120px;
            background: white;
            margin-left: 33px;
            margin-top: 20px;
            display: flex;
            position: relative;
           .spans{
            margin-right: 30px;
           }
           .searchace{
            line-height: 120px;
            font-size: 15px;
            margin-left: 10px;
           }
           .classfit_span{
            margin-left: 50px;
            font-size: 15px;
            line-height: 120px;
           }
           .searchinput_title{
          
            margin-right: 20px;
            margin-top: 46px;
           }
          
            .searchbtn{
            position: absolute;
            left: 85%;
            top: 50%;
            .search_btn{
               background: white;
               color: #000;
               border: none;
            }
            }
            
        }
        }
        .nolist{
            height: 316px;
            width: 95%;
            background: white;
            margin-left: 33px;
            margin-top: 17px;
        }
       
    
}
