.con_editor {
    width: 100%;
    height: 100%;
    background-color: #fff;

    .headers {
        width: 100%;
        height: 64px;
        padding: 0 24px;
        padding-top: 24px;
        display: flex;
        justify-content: space-between;

        .head_left {
            >span {
                display: inline-block;
                width: 25px;
                height: 25px;
                border: 1px solid #ccc;
                line-height: 20px;
                text-align: center;
                font-size: 20px;
            }

            >div {
                width: 300px;
                border-bottom: 1px solid rgb(220, 218, 218);
                margin-left: 10px;
                display: inline-block;

                input {
                    width: 300px;
                    border: 0;
                    outline: none
                }
            }
        }

        .head_right_svg {
            margin-left: 18px;
            color: blue;
        }

        main {
            flex: 1;
            overflow: hidden;
        }
    }
}

.footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    border-top: 1px solid rgb(232, 232, 232);
    padding: 10px 16px;
    text-align: right;
    left: 0px;
    background: rgb(255, 255, 255);
    border-radius: 0px 0px 4px 4px;
}