.allarticleWarp{
    width: 100%;
    height: 100%;
  
    .nav{
        width: 100%;
        height: 60px;
        background: white;
        p{
            font-size: 15px;
            color: rgb(49, 41, 41);
            padding-top: 8px;
            margin-left: 15px;
        }
    }
    .main{
        width: 95%;
        height: auto;
        
        .search{
            width: 100%;
            height: 120px;
            background: white;
            margin-left: 33px;
            margin-top: 20px;
            display: flex;
            position: relative;
           .spans{
            margin-right: 30px;
           }
           .searchace{
            line-height: 120px;
            font-size: 15px;
            margin-left: 10px;
           }
           .classfit_span{
            margin-left: 50px;
            font-size: 15px;
            line-height: 120px;
           }
           .searchinput_title{
          
            margin-right: 20px;
            margin-top: 46px;
           }
          
            .searchbtn{
            position: absolute;
            left: 85%;
            top: 50%;
            .search_btn{
               background: white;
               color: #000;
               border: none;
            }
            }
            
        }
        .newdiv{
            width: 100%;
            height: 70px;
            background: white;
            margin-top: 13px;
            margin-left: 33px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            .icon{
                font-size: 20px;
                margin-right: 10px;
                margin-left: 10px;
            }
            .button{
                font-size: 15px;
            }
        }
        }
        .konwledgeListdiv{
            width: 95%;
            height: auto;
            margin: 0 auto;
            margin-top: 18px;
            display: flex;
            flex-wrap: wrap;
            background: white;
            padding: 30px;
            .konwledgeListdiv_img{
                margin-right: 25px;
                display: flex;
                .konwledgeListdivicon{
                    display: flex;
                    justify-content: space-around;
                }
            }
        }
}
.inp{
    width: 400px;
    margin-top: 10px;
    margin-left: 5px;
}
.drawerdiv{
    width: 410px;
    height: 110px;
  
    margin-left: 10px;
    .drawerdivimg{
        width: 100%;
        height: 100%;
    }
}
.btns{
    background:white;
    color: red;
    border: solid 1px red;
}
.btndiv{
    width: 100%;
    height: 62px;
    border-top: 1px solid #ccc;
    margin-top: 100px;
    p{
        margin-left: 280px;
        margin-top: 10px;
        .close{
            margin-right: 8px;
        }
    }
}

