* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

.system {
    width: 100%;
    height: 100vh;
    background: #e7eaee;

    .system_header {
        height: 50px;
        width: 100%;
        background: white;
        border-top: 1px solid #ccc;
        padding-left: 20px;
        line-height: 50px;
    }

    .styles_tabls {
        margin: 20px;
        background: white;
        // padding: 35px;
        height: auto;
        color: #000;
        padding: 20px;
    }
}