.title {
    background: rgb(121, 242, 157);
}

.head {
    margin-bottom: 20px;
    margin-top: 20px;
}

.header_box {
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: column;
    background-color: #fff;

    .input_box {
        width: 100%;
        height: 60px;
        padding-left: 20px;
        margin-top: 10px;

        Input {
            margin: 0 20px;
        }
    }

    .button_box {
        width: 100%;
        height: 60px;
        padding-left: 890px;
        margin-bottom: 10px;
    }
}

.content_box {
    width: 100%;
    height: vh;
    background-color: #fff;
    margin-top: 15px;
    overflow: hidden;

    .content_head {
        width: 100%;
        height: 90px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 20px;
        background-color: #fff;
    }

    .content {
        width: 100%;
        height: vh;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .dl {
            width: 250px;
            height: 277px;
            padding-left: 10px;
            border: 1px solid #f6f6f6;
            margin-top: 10px;

            // text-align: center;
            dl {
                height: 200px;
                // background-color: brown;
            }

            dd p {

                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            p {
                margin-top: 10px;
            }
        }

        .footer_box {
            width: 100%;
            margin-top: 10px;
            height: 50px;
            display: flex;
            justify-content: space-between;
        }
    }
}