body{
    background-color: #f0f2f5;
  }
  
  
  .Page .Page_header {
  width: 100%;
  height: 60px;
  background: white;
  line-height: 60px;
  padding-left: 20px;
  border-top: 1px solid #ccc;
  }
  
  .title {
    background: rgb(121, 242, 157);
  }
  .views{
    background-color: rgb(82, 196, 26);
  
    z-index: auto;
      min-width: 20px;
      height: 20px;
      padding: 0 8px;
      color: #fff;
      font-weight: 400;
      font-size: 12px;
      line-height: 20px;
      white-space: nowrap;
      text-align: center;
      border-radius: 10px;
      box-shadow: 0 0 0 1px #fff;
  }
  
  .Page .header{
    margin: 15px;
     padding: 15px;
      color: rgba(0,0,0,.85);
      font-size: 14px;
      font-variant: tabular-nums;
      line-height: 1.5715;
      list-style: none;
      font-feature-settings: "tnum";
      height: 150px;
      background: #fff;
      display: flex;
      justify-content: space-around;
  
  }
  .table{
    margin: 15px;
    background: #fff;
  }
  .lastItem{
    margin-top: 50px;
  }
  .table_ation{
  padding: 15px;
  display: flex;
  justify-content:space-between
  }
  .Page_header span{
    color: rgba(140, 140, 140);
  }
