.mask input{
    width: 90%;
}

.mask_oss{
    width: 100%;
    height: 210px;
    display: flex;
    justify-content: center
}
.mask_title{
    width: 50px;
    position: absolute;
    left: 25px;
    top: 370px;
}
.mask_ossimg{
    width: 90%;
    height: 150px;
    margin-left: 25px;
}
.mask_ossimg input{
    width: 100%;
    margin-top: 15px;
}

.mask_off{
    position: absolute;
    left: 0;
    top: calc(100% - 70px);
    width: 100%;
    height: 70px;
    border-top: 1px solid #eee;
    display: flex;
    justify-content: flex-end
}

// 选择文件弹窗
.maskfile{
    width: 100%;
}
.mask_file_search{
    width: 100%;
    display: flex;
}
.mask_file_button{
    display: flex;
    justify-content: flex-end;
}
.mask_upload{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.fileimg_wrap{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.file_img{
    width: 170px;
    height: 200px;
    margin: 12px;
    border: 1px solid #eee;
    cursor: pointer;
}
.file_img:hover{
    box-shadow:  2px 2px 2px  #ccc;
}
.file_all_img{
    width: 100%;
    height: 140px;
}
.file_all_img>img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.file_all_title{
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}
.file_page{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}