.icon{
    font-size: 20px;
    margin-right: 10px;
    margin-left: 10px;
}
// .ear{
//     float: left;
// }
// .dardiv{
//     float: left;
// }
.btns{
    background:white;
    color: red;
    border: solid 1px red;
}

.inpt{
    margin-left: 47px;
}
.closee{
    margin-left: 47px;
}
.btndiv{
    width: 100%;
    height: 64px;
   
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-end;
    
}
.divvs{
    width: 100%;
    height: 130px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-end;
}
.divupdata{
    width: 100%;
    height: 57px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-end;
}
.content{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-between;
    .dl{
        width: 207px;
        height: 247px;
        p{
            font-size: 20px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            margin-top: 20px;
        }
    }
}