.alltop {
    width: 100%;
    height: 120px;
    padding: 24px 12px;
    background-color: white;
  }
  .alltopone {
    width: 100%;
    height: 40px;
    display: flex;
  }
  .alltoptwo {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-end;
  }
  