* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

.WorkBench {
    width: 100%;
    height: 100%;
    background: #e7eaee;

    .WorkBench_header {
        height: 150px;
        width: 100%;
        background: white;
        border-top: 1px solid #ccc;
        padding-left: 40px;

        .WorkBench_router {
            color: rgb(182, 178, 178);
            padding-top: 20px;
            display: inline-block;
            font-size: 14px;
        }

        .WorkBench_router_name {
            font-weight: bolder;
            font-size: 38px;
        }

        .WorkBench_role {
            line-height: 50px;
            display: block;
            font-size: 14px;
        }
    }

    .WorkBench_echart {
        margin: 20px;
        background: white;
        padding: 35px;
        color: #000;
        width: 96%;


        .WorkBench_echart_chart {
            margin-right: 10%;

            canvas {
                // display: inline-block;
                width: calc(100% - 20px);
                // aspect-ratio: auto 90% / 300;
                margin-right: 20px;

            }
        }

        div {
            line-height: 50px;
            font-size: 20px;
            border-bottom: 1px solid #ccc;
        }
    }

    .WorkBench_nav {
        margin: 20px;
        background: white;
        padding: 35px;
        margin-bottom: 20px;

        p {
            line-height: 50px;
            font-size: 20px;
            border-bottom: 1px solid #ccc;
        }

        div {
            display: flex;
            justify-content: space-around;
            color: #000;
            line-height: 50px;

            a {
                color: #000;
                font-size: 16px;
            }
        }
    }

    .workbench_newest {
        margin: 20px;
        background: white;
        // height: auto;
        font-size: 16px;
        color: #000;

        .workbench_newestarticle {
            display: flex;
            justify-content: space-between;
            padding: 15px;
            border-bottom: 1px solid #ccc;
            height: 50px;

            a {
                color: #000;
                display: inline-block;
            }
        }

        .workbench_newestimg {
            text-align: center;
            // display: inline-block;
            display: flex;
            flex-wrap: wrap;

            .workbench_newestimg_Card {
                width: 33.3%;

                img {
                    height: 200px;
                    display: inline-block;
                }
            }

            .workbench_newestimg_title {
                text-align: center;
                line-height: 50px;
                font-size: 16px;
            }
        }
    }

    .workbench_comment {
        margin: 20px;
        background: white;
        height: auto;
        font-size: 16px;
        color: #000;

        .workbench_commentarticle {
            display: flex;
            justify-content: space-between;
            padding: 15px;
            // border-bottom: 1px solid #ccc;
            height: 50px;

            a {
                color: #000;
                display: inline-block;
            }
        }

        .workbench_commentList {
            padding: 10px;

            .ant-popover-inner {
                width: 500px;
                height: 600px;
                background-color: rgb(226, 220, 220);
            }

            a {
                color: #1890ff;
            }

            a:hover {
                color: #000;
            }

            div {
                display: flex;
                justify-content: space-between;
                height: 50px;
                line-height: 50px;
                border-top: 1px solid #ccc;

                span {
                    margin: 2px;
                }
            }

            .workbench_commentList_function {
                padding-right: 20px;

                a {
                    display: inline-block;
                    width: 50px;
                    color: #1890ff;
                }
            }
        }
    }

}

#workbench_commentListPageTable {
    width: 300px;
    height: 400px;
    font-size: 20px;
    text-align: center;
    line-height: 400px;

    span {
        font-size: 18px;

        b {
            width: 50px;
            text-align: center;
            font-size: 26px;
            font-weight: normal;
            border-right: 1px solid #ccc;
        }
    }

}
