.EditorDrawer_cover {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    span {
        display: inline-block;
        margin: 0 5px;
    }
}

.EditorDrawer_imgbox {
    width: 120%;
    height: 180px;
    margin-bottom: 16px;
    color: #888;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;

    img {
        // margin-left: 20%;
        width: 100%;
        height: 80%;
    }
}