.registryWarp{
    width: 100%;
    height: 100%;
    .registry{
        width: 70%;
        height: 500px;
        margin: 60px auto;
        min-width: 1200px;
        display: flex;
        .registry_img{
            width: 500px;
            height: 100%;
            .registry_svg{
                width: 100%;
                height: 100%;
            }
        }
        .registry_from{
            width: calc(100% - 500px);
            height: 100%;
            .registry_title{
                width: 100%;
                height: 100px;
                line-height: 100px;
                font-size: 30px;
                font-weight: bolder;
                text-indent: 4em;
            }
            .antbtn{
                width: 300px;
                height: 40px;
            }
            .registry_bank{
                width: 100%;
                height: 50px;
                line-height: 50px;
                text-indent: 14em;
                span{
                    cursor: pointer;
                }
            }
        }
    }
}