.buttons_box {
  margin-left: 680px;
  margin-top: 20px;
}
.content_drawer {
  width: 100%;
  margin-top: 30px;
  height: 400px;
  // background: #4299e1;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  .content_drawer_top {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .content_drawer_con {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .cards {
      width: 24%;
      height: 230px;
      margin-top: 10px;
    }
  }
}
