.comment_box {
  width: 100%;
  height: 90%;
  //  background-color: aquamarine;
  margin-top: 25px;
  padding-left: 25px;
  box-sizing: border-box;
  overflow: hidden;

  .header_box {
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: column;
    background-color: #fff;

    .input_box {
      width: 100%;
      height: 60px;
      padding-left: 20px;
      margin-top: 10px;

      Input {
        margin: 0 20px;
      }
    }

    .button_box {
      width: 100%;
      height: 60px;
      padding-left: 890px;
      margin-bottom: 10px;
    }
  }

  .content_box {
    width: 100%;
    height: vh;
    background-color: #fff;
    margin-top: 15px;

    .content_head {
      width: 100%;
      height: 90px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-right: 20px;
      background-color: #fff;
    }
  }
}

.span_style {
  display: inline-block;
  width: 6px;
  height: 6px;
  background: #52c41a;
  border-radius: 50%;
  margin-right: 6px;
}

.spans_style {
  display: inline-block;
  width: 6px;
  height: 6px;
  background: #faad14;
  border-radius: 50%;
  margin-right: 6px;
}

.error_style {
  width: 300px;
  height: 500px;
  display: flex;
  text-align: center;
  line-height: 500px;
}
