.personal_header {
    width: 100%;
    height: 30px;
    background: white;
}

.personal {
    background: #e7eaee;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;

    .personal_left {
        display: block;
        height: 200px;
        margin: 20px;
        width: 45%;
        height: auto;

        .system {
            height: 310px;
            background: white;
        }

        div {
            font-size: 15px;
            padding: 10px;
            padding-left: 20px;
        }

        p {
            height: 50px;
            line-height: 50px;
            padding-left: 20px;
            border-top: 1px solid #ccc;
            font-size: 15px;
        }
    }

    .personal_right {
        margin: 20px;
        // padding: 10px;
        width: 45%;
        height: auto;

        .datum {
            width: 100%;
            background: white;
        }

        .personal_data {
            font-size: 16px;
            line-height: 50px;
            padding-left: 20px;
            border-bottom: 1px solid #ccc;
        }

        .personal_set {
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 20px;

            form {
                margin-left: -20px;

                .save {
                    margin-left: -120px;
                    margin-top: 20px;
                }

                .personal_username {
                    // text-align: center;
                    margin-left: -60px;
                    margin-right: 25px;

                    Input {
                        margin-left: 20px;
                    }
                }

                .personal_email {
                    margin-left: -60px;
                    margin-right: 25px;

                    Input {
                        margin-left: 20px;
                    }
                }

                .personal_Password {
                    margin-left: -60px;
                    margin-right: 25px;

                    Input {
                        margin-left: 40px;
                    }
                }

                .pwd {
                    margin-left: 20px;
                }
            }

            .personal_profile {
                width: 100%;
                line-height: 60px;
                text-align: center;

                .personal_img {
                    display: inline-block;
                    width: 60px;
                    height: 60px;
                    background: #ccc;
                    border-radius: 50%;
                }
            }
        }

    }
}