* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

#visit {
    width: 100%;
    height: 100vh;
    background: #e7eaee;

    .visit_header {
        height: 50px;
        width: 100%;
        background: white;
        border-top: 1px solid #ccc;
        padding-left: 20px;
        line-height: 50px;
    }

    .visit_button {
        margin: 20px;
        height: 50px;
        width: 100%;
        background: white;
        padding: 10px;
    }

    .visit_input {
        margin-left: 20px;
        margin-top: 30px;
        background: white;
        line-height: 50px;
        margin-right: 20px;
        padding-left: 30px;

        .visit_inputForm {
            margin-top: 20px;
            margin-left: 20px;
            display: flex;
            flex-wrap: wrap;

            p {
                margin-left: 15px;
                margin-right: 10px;
                margin-top: 10px;

                input {
                    width: 95%;
                    margin-left: 10px;
                }
            }

        }

        .visit_buttonbox {
            margin: 10px;
            padding-bottom: 15px;
            margin-left: 80%;
            display: flex;

            button {
                margin-left: 20px;
            }
        }
    }

    .visitTab {
        margin-left: 20px;
        margin-top: 20px;
        margin-right: 20px;

        a {
            color: #1890ff;
        }
    }
    .visitpage{
        background: white;
        height: 80px;
        margin-left: 20px;
        margin-right: 20px;
        line-height: 80px;
        ul{
            padding-top: 20px;
            // padding-right: 30px;
            margin-left: 57%;
        }
    }
}