.Itembox {
  width: 100%;
  height: 100%;

  p {
    padding-left: 10px;
    line-height: 35px;

    span {
      padding-left: 13px;
      color: #595959;
    }

    .spans {
      display: inline-block;
      // background-color: #595959;
      border: 1px #ccc solid;
      width: 85%;
      padding-left: 13px;
      color: #595959;
      margin-left: 10px;
      line-height: 19px;
    }

    .btn {
      display: block;
      margin-left: 68px;
      color: blue;
      font-size: 13px;
    }

  }
}

.footer {
  width: 100%;
  height: 100%;

  .btn {
    float: right;

    margin-right: 25px;

  }

}
