.article {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.header {
    width: 100%;
    height: 58px;
    padding: 24px 12px;
    background-color: #fff;
}

.main {
    padding: 24px;
}

.search {
    background: #fff;
    height: 160px;
    padding: 24px 12px;
    margin: 0 0 16px;
}
.header span{
    color: rgba(140, 140, 140);
}

.likes {
    z-index: auto;
    min-width: 20px;
    height: 20px;
    padding: 0 6px;
    color: #fff;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    white-space: nowrap;
    text-align: center;
    background: #EB2F96;
    border-radius: 10px;
    box-shadow: 0 0 0 1px #fff;
}

.views {
    z-index: auto;
    min-width: 20px;
    height: 20px;
    padding: 0 6px;
    color: #fff;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    white-space: nowrap;
    text-align: center;
    background: #52C41A;
    border-radius: 10px;
    box-shadow: 0 0 0 1px #fff;
}