.loginWarp{
    width: 100%;
    height: 100%;
    .login{
        width: 80%;
        height: 600px;
        margin: 60px auto;
        position: relative;
        min-width: 1200px;
        .login_img{
            width: 70%;
            height: 100%;
            position: absolute;
            left: -40px;
            .login_svg{
                width: 100%;
                height: 100%;
            }
        }
        .ant-btn{
            margin-top: 20px;
        }
    }
    
}