.editor {
    width: 100%;
    height: 100%;
}
.editor_top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    align-items: center;
    background: #fff;
}

.editor_top_left {
    display: flex;
    align-items: center;
    >span {
        margin: 0 13px;
        // padding: 0 3px;
        display: inline-block;
        font-size: 20px;
        width: 28px;
        height: 28px;
        text-align: center;
        line-height: 28px;
        cursor: pointer;
    }

}

// 大纲
.Outlinewrap{
    width: 100%;
    display: flex;
}
.Outline{
    width: 400px;
}
.Outline_head{
    width: 100%;
    height: 50px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #999;
}
.Outline_head>span:hover{
    cursor: pointer;
}
.Outline_title{
    width: 100%;
    padding: 5px;
}
.Outline_title>li{
    line-height: 30px;
    list-style: disc;
}
.Outline_title>li:nth-child(1){
    list-style: none;
}
.Outline_title>li:hover{
    cursor: pointer;
    color: skyblue;
}