/*网页的全局样式 解决兼容问题*/
body,div,p,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,table,tr,td,form,input,select,textarea,span,img,a,em,strong,*{ margin:0; padding:0;}
body{ font-family:"宋体"; font-size:12px; color:#000000;}
ul,ol,li{ list-style:none;}
h1,h2,h3,h4,h5,h6{ font-size:14px;}
input,select,textarea{ vertical-align:middle;}
img{ border:none; vertical-align:middle;}
a{ text-decoration:none;color:#333;}
a:hover{ color:#009999;}
.clear{ clear:both; height:0px; width:0px; overflow:hidden;}

*{
    object-fit: cover;
}

#root,html,body{
    width: 100%;
    height: 100%;
    min-width: 1200px;
}


.ant-menu-item-selected{
    background-color: rgba(84, 84, 84, 0.591)!important;
}

.ant-layout-content{
    width: 100%;
}
.ant-layout-sider{
    width: 200px;
    max-width: 200px;
}

.w-md-editor{
width: 100%!important;
height: 100% !important;
}