.wrap{
    width: 100%;
    height: 700px;
    display: flex;
    .mainleft{
        width: 300px;
        height: 100%;
        background: #ccc;
        p{
            width: 100%;
            height: 50px;
           
            display: flex;
            flex-wrap: wrap;
            align-content: center;
            justify-content: space-around;  
            span{
                font-size: 20px;
            }
        }
        .btn{
            width: 220px;
            height: 30px;
            background: white;
            border: solid 1px white;
            margin-left: 18px;
        }
        div{
            width: 100%;
            height: 50px;
            display: flex;
            flex-wrap: wrap;
            align-content: center;
            justify-content: space-around;
            border-bottom: 1px solid #ccc;
            span{
               font-size: 15px;
            }
            .btnn{
                width: 78px;
                height: 23px;
                line-height: 23px;
            }
        }
    }
    .mainright{
        width: 100%;
        height: 100%;
        background: white;
        p{
            text-align: center;
            line-height: 700px;
            font-size: 15px;
        }
    }
}